{% include "header.html" %}

<body>

    {% include 'sidebar.html' with context %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h3 class="m-b-10" style="color: white;">Coronavirus Dashboard</h3>
                            </div>
                            <!--
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">
                          <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                      </ul>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- support-section start -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card support-bar overflow-hidden">
                                <div class="card-body pb-0">
                                    <h2 class="m-0">{{ '{0:,}'.format(ricoverati_con_sintomi | int)}}</h2>
                                    <span class="text-c-blue">Ricoverati con sintomi</span>
                                    <p class="mb-3 mt-3">Ultimo aggiornamento {{ update }}</p>
                                </div>
                                <div id="support-chart"></div>
                                <div class="card-footer bg-primary text-white">
                                    <div class="row text-center">
                                        <div class="col">
                                            <h4 class="m-0 text-white"> {{'{0:,}'.format( terapia_intensiva | int )}}
                                            </h4>
                                            <span>Terapia intensiva</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(isolamento_domiciliare | int)
                                                }}</h4>
                                            <span>In isolamento domiciliare</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card support-bar overflow-hidden">
                                <div class="card-body pb-0">
                                    <h2 class="m-0">{{ '{0:,}'.format(tamponi_test_molecolare +
                                        tamponi_test_antigenico_rapido | int) }}</h2>
                                    <span class="text-c-green">Totale tamponi</span>
                                    <p class="mb-3 mt-3">Ultimo aggiornamento {{ update }}</p>
                                </div>
                                <div id="support-chart1"></div>
                                <div class="card-footer bg-success text-white">
                                    <div class="row text-center">
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(tamponi_test_molecolare | int )
                                                }}</h4>
                                            <span>Tamponi test molecolare</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(tamponi_test_antigenico_rapido
                                                | int )}}</h4>
                                            <span>Tamponi antigenici</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- support-section end -->
                </div>
                <div class="col-lg-5 col-md-12">
                    <!-- page statistic card start -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-gray">{{ '{0:,}'.format(deceduti | int) }}</h4>
                                            <h6 class="text-muted m-b-0">Totale deceduti</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="fas fa-praying-hands"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-yellow">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-up text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-green">290+</h4>
                                            <h6 class="text-muted m-b-0">Page Views</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="feather icon-file-text f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-green">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-up text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-red">145</h4>
                                            <h6 class="text-muted m-b-0">Task</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="feather icon-calendar f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-red">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-down text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-blue">500</h4>
                                            <h6 class="text-muted m-b-0">Downloads</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="feather icon-thumbs-down f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-blue">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-down text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page statistic card end -->
                </div>
                <div class="row" id="maps">
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Indici di rapporto tra Totale Positivi e Terapie Intensive</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <canvas class="my-4 w-120" id="andamento_indici"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Probabili positivi</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <canvas class="my-4 w-120" id="andamento_probabile"></canvas>
                                    <p>Probabili positivi sulla base del rapporto Positivi / Terapie intensive su un
                                        lasso di tempo più affidabile (Luglio ->)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Positivi attuali per regioni (ultimo giorno)</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region" style="height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Percentuale di positivi sulla popolazione regionale</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region_relative" style="height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <!--
  <div class="pcoded-main-container">
    <div class="row">
      

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Ricoverati con Sintomi</h5>
                <h4>{{ ricoverati_con_sintomi | int}}</h4>
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Terapia intensiva</h5>
                <h4>{{ terapia_intensiva  | int }}</h4>
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Totale contagi Italia</h5>
                <h4>{{ total_positive | int}}</h4>
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
        </div>
        <br>
        <script>
          var data_regioni = {{ regioni|tojson  }};
        </script>


        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Indici di rapporto tra Totale Positivi e Terapie Intensive</h5>
                <canvas class="my-4 w-120" id="andamento_indici"></canvas>
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Probabili Positivi</h5> 
                <canvas class="my-4 w-120" id="andamento_probabile"></canvas>
                <p>Probabili positivi sulla base del rapporto Positivi / Terapie intensive su un lasso di tempo più affidabile (Luglio ->)</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Contagi per regioni (ultimo giorno)</h5> 
                <div id="chartdiv" style="height: 500px;"></div>
                
              </div>
              <div class="card-footer">
                <small class="text-muted">Ultimo aggiornamento: {{ update }}</small>
              </div>
            </div>
          </div>
        </div>
        <br>

        <script>
          var andamento_nazionale = {{ andamento_nazionale|tojson  }};
        </script>
        
      </main>
    </div>
  </div>

-->
    <script>
        var andamento_nazionale = {{ andamento_nazionale| tojson  }};
        var data_regioni = {{ regioni| tojson  }};
    </script>
    {% include "footer.html" %}