{% include "header.html" %}


<body>
  {% include 'navbar.html' with context%}

  <div class="container-fluid dashboard_content">
    <div class="row">
      {% include 'sidebar.html' with context %}
     
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 border-bottom">
          <br>
          <h1 class="page-header">Questo è il profilo di {{ name | capitalize }}</h1>
          
            <h3>Questi sono i dati</h3>
              <ul>
                <li>Nome: {{ name | capitalize }} </li>
                <li>Email: {{ email }} </li>
                <li>Admin: {% if isadmin == 1 %} Sì {% else %} No {% endif %} </li>
              
              </ul>
      </main>

    {% include "footer.html" %}



    