{% include "header.html" %}

<body>

    {% include 'sidebar.html' with context %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h3 class="m-b-10" style="color: white;">Coronavirus Dashboard</h3>
                            </div>
                            <!--
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">
                          <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                      </ul>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- support-section start -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card support-bar overflow-hidden">
                                <div class="card-body pb-0">
                                    <h2 class="m-0">{{ '{0:,}'.format(ricoverati_con_sintomi | int)}}</h2>
                                    <span class="text-c-blue">Ricoverati con sintomi</span>
                                    <p class="mb-3 mt-3">Ultimo aggiornamento {{ update }}</p>
                                </div>
                                <div id="support-chart"></div>
                                <div class="card-footer bg-primary text-white">
                                    <div class="row text-center">
                                        <div class="col">
                                            <h4 class="m-0 text-white"> {{'{0:,}'.format( terapia_intensiva | int )}}
                                            </h4>
                                            <span>Terapia intensiva</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(isolamento_domiciliare | int)
                                                }}</h4>
                                            <span>In isolamento domiciliare</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card support-bar overflow-hidden">
                                <div class="card-body pb-0">
                                    <h2 class="m-0">{{ '{0:,}'.format(tamponi_test_molecolare +
                                        tamponi_test_antigenico_rapido | int) }}</h2>
                                    <span class="text-c-green">Totale tamponi</span>
                                    <p class="mb-3 mt-3">Ultimo aggiornamento {{ update }}</p>
                                </div>
                                <div id="support-chart1"></div>
                                <div class="card-footer bg-success text-white">
                                    <div class="row text-center">
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(tamponi_test_molecolare | int )
                                                }}</h4>
                                            <span>Tamponi test molecolare</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ '{0:,}'.format(tamponi_test_antigenico_rapido
                                                | int )}}</h4>
                                            <span>Tamponi antigenici</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- support-section end -->
                </div>
                <div class="col-lg-5 col-md-12">
                    <!-- page statistic card start -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-gray">{{ '{0:,}'.format(deceduti | int) }}</h4>
                                            <h6 class="text-muted m-b-0">Totale deceduti</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="fas fa-praying-hands"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-yellow">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0"></p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-up text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-green">{{ '{0:,}'.format(totale_vaccinati | int) }}</h4>
                                            <h6 class="text-muted m-b-0">Totale persone vaccinate</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="feather icon-file-text f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-green">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">{{ "%.2f"|format((totale_vaccinati /
                                                60317000)*100) }}% degli italiani</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-trending-up text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- page statistic card end -->
                </div>
                <div class="row" id="maps">
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Indici di rapporto tra Totale Positivi e Terapie Intensive</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <canvas class="my-4 w-120" id="andamento_indici"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Probabili positivi</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <canvas class="my-4 w-120" id="andamento_probabile"></canvas>
                                    <p>Probabili positivi sulla base del rapporto Positivi / Terapie intensive su un
                                        lasso di tempo più affidabile (Luglio ->)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Positivi attuali per regioni (ultimo giorno)</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region" style="height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Positivi per regione in data {{ giorno }}</h5>
                                    <span class="text-muted m-l-10 f-14"> Stai visualizzando la data: {{ giorno
                                        }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region_contagi_data" style="height: 500px;"></div>
                                </div>

                                <form action="/regioni" method="post" class="form" id="get-regioni-data">
                                    <div class="it-datepicker-wrapper col-sm-6">
                                        <div class="form-group">
                                            <label for="date1">Inserisci la data in formato yyyy-mm-gg</label>
                                            <input class="form-control it-date-datepicker" id="data_input" name="data_input"
                                                type="text" placeholder="inserisci la data in formato yyyy-mm-gg">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Numero dosi di vaccino somministrate per regione</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region_vaccini" style="height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Percentuale (%) di popolazione vaccinata (2 dosi) per regione</h5>
                                    <span class="text-muted m-l-10 f-14">{{ update }}</span>
                                    <div id="power-card-chart3"></div>
                                    <div id="map_region_vaccini_relative" style="height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>




    <script>
        var andamento_nazionale = {{ andamento_nazionale| tojson  }};
        var data_regioni = {{ regioni| tojson  }};
        var regioni_vaccini = {{ regioni_vaccini| tojson }};
        regioni_vaccini = JSON.parse(regioni_vaccini);
        var andamento_regioni_storico_giorno = {{ andamento_regioni_storico_giorno | tojson}};
        andamento_regioni_storico_giorno = JSON.parse(andamento_regioni_storico_giorno);

        $(document).ready(function () {
            $('form').submit(function (e) {
                //prevent submit
                e.preventDefault(); //Thx @alex

                //do things on submit
                $.ajax({
                    data: {'giorno' : $('#data_input').val()},
                    type: "POST",
                    url: "{{ url_for('regioni') }}",
                }).done(function (data) {

                    andamento_regioni_storico_giorno = JSON.parse(data)
                    map_region_contagi_data();

                }).always(function (data) {
                    console.log(data)
                });
            });

        });
    </script>


    {% include "footer.html" %}