{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'navbar.html' with context%}

<div class="container-fluid">
  {% include 'sidebar.html' with context %}

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Tabella degli utenti presenti in db</h1>

    <div class="container">
      <table class="table">

        <thead>
          <tr>
            <td scope='col'> Username </td>
            <td scope='col'> Email </td>
            <td scope='col'> Admin </td>
          </tr>
        </thead>


        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{% if user.isadmin == 0 %} No {% else %} Sì {% endif %}</td>
        </tr>
        {% endfor %}
        <table>
    </div>
    <div class="container-fluid">

      <form class="form-add-admin" method="POST" action="/settings">
        <h2 class="form-add-admin-heading">Aggiungi un admin</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.password) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Registra un admin</button>
      
        </form>
    </div>


  </div>
</div>
</div>
{% endblock %}