{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'navbar.html' with context%}

    <div class="container-fluid">
      {% include 'sidebar.html' with context %}
      
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Tabella degli utenti presenti in db</h1>
        
        <table class="table">
            <tr>
                <td><h4> Username </h4></td>
                <td><h4> Email </h4></td>
            </tr>
          {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        <table>
         
        </div>
      </div>
    </div>
{% endblock %}