{% include "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<body>
  {% include 'navbar.html' with context%}

  <div class="container-fluid dashboard_content">
    <div class="row">
      {% include 'sidebar.html' with context %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 border-bottom">
    <h1 class="page-header">Tabella degli utenti presenti in db</h1>

    <div class="container">
      
      <table class="table">

        <thead class="table-dark">
          <tr>
            <th scope='col'> Username </th>
            <th scope='col'> Email </th>
            <th scope='col'> Admin </th>
            <th scope='col'></th>
          </tr>
        </thead>


        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{% if user.isadmin == 0 %} No {% else %} Sì {% endif %}</td>
          <td><a href="#"><button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></a></td>
        </tr>
        {% endfor %}
        <table>
    </div>



    <div class="container-fluid">
  
      <form class="form-add-admin" method="POST" action="/settings">
        <h2 class="form-add-admin-heading">Aggiungi un admin</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.password) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Registra un admin</button>
      
        </form>
    </div>


  </div>
</div>
</div>
{% include "footer.html" %}
